.socialMedia{
    display: flex;
    justify-content: space-between;
    height: 3em;
    width: 100%;
    padding: 1em;
}
.socialMediaIcons{
    display: flex;
    gap: 0.5em;
    height:3em;
    width: 25%;
}
.readingTime{
    display: flex;
    align-items: center;
    font-size: 2em;
}